* {
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor1 {
    min-height: 400px;
    max-width: 1000px;
    background-color: #FE3599;
}
.centrado {
    text-align: center;
}
.contenedor2 {
    min-height: 400px;
    background-color: #3599FE;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.elemento {
    height: 200px;
    width: 200px;
    background-color: green;
    border-color: red;
    border-width: 8px;
    border-style: solid;
    padding: 10px;
}